body{
  background-color: #75807E;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: auto;
  margin-top: auto;
}

html{
  height: 1000;
  margin-left: auto;
  margin-right: auto;
}

#container-1{
  border: solid black 0px;
  position: absolute;
  width: 100%;
  height: 12%;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#container-2{
  border: solid black 0px;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

#container-3{
  border: solid black 0px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

#container-4{
  border: solid black 0px;
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

#container-5{
  border: solid black 0px;
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}


.title{
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 15px #FFFFFF;
  animation-name: progress;
  animation-duration: 30s;
  font-size:175px;
  letter-spacing: 100px;
}

@keyframes progress {
  0% {text-shadow: 1px 1px 15px #FFFFFF;}
  5%  {text-shadow: 1px 1px 15px #75807E;}
  10%  {text-shadow: 1px 1px 15px #FFFFFF;}
  15%  {text-shadow: 1px 1px 15px #75807E;}
  20%  {text-shadow: 1px 1px 15px #FFFFFF;}
  25%  {text-shadow: 1px 1px 15px #75807E;}
  30%  {text-shadow: 1px 1px 15px #FFFFFF;}
  35%  {text-shadow: 1px 1px 15px #75807E;}
  40%  {text-shadow: 1px 1px 15px #FFFFFF;}
  45%  {text-shadow: 1px 1px 15px #75807E;}
  50%  {text-shadow: 1px 1px 15px #FFFFFF;}
  55%  {text-shadow: 1px 1px 15px #75807E;}
  65%  {text-shadow: 1px 1px 15px #FFFFFF;}
  70%  {text-shadow: 1px 1px 15px #75807E;}
  75%  {text-shadow: 1px 1px 15px #FFFFFF;}
  80%  {text-shadow: 1px 1px 15px #75807E;}
}

.tab{
  margin: auto;
  text-align: center;
}
